.world-container {
  background-color: blueviolet;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  /* transform-origin: 50% 50%; */
  width: 32px;
  height: 32px;
}
#world {
  position: relative;
  left: -2399%;
  top: -1101%;
  /* transform: translate(-50%, -50%); */
}
